/*
 * Copyright (c) 2025 lucidust
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Qwerty {
            label = "Base";
            bindings = <
&kp Q       &kp W       &kp E        &kp R         &kp T      &kp Y        &kp U            &kp I        &kp O           &kp P
&mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHIFT F  &kp G      &kp H        &mt LSHIFT J     &mt LCTRL K  &mt LEFT_ALT L  &mt LGUI SEMI
&kp Z       &kp X       &kp C        &kp V         &kp B      &kp N        &kp M            &kp COMMA    &kp DOT         &kp SLASH
                                     &lt 1 SPACE   &lt 2 TAB  &lt 3 ENTER  &lt 4 BACKSPACE
            >;
        };

        Navigation {
            bindings = <
&none         &none     &none      &none      &none  &none      &none      &none      &none      &none
&kp LEFT_GUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp DEL
&kp CAPSLOCK  &none     &none      &none      &none  &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp INSERT
                                   &none      &none  &kp ENTER  &kp BSPC
            >;

            label = "Nav";
        };

        Mouse {
            bindings = <
&none         &none     &none      &none      &none  &none  &none  &none  &none  &none
&kp LEFT_GUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none  &none  &none  &none  &none  &none
&none         &none     &none      &none      &none  &none  &none  &none  &none  &none
                                   &none      &none  &none  &none
            >;

            label = "Mous";
        };

        Number {
            bindings = <
&kp LEFT_BRACKET  &kp N7  &kp N8  &kp N9  &kp RIGHT_BRACKET  &none  &none      &none      &none     &none
&kp SINGLE_QUOTE  &kp N4  &kp N5  &kp N6  &kp EQUAL          &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp GRAVE         &kp N1  &kp N2  &kp N3  &kp BACKSLASH      &none  &none      &none      &none     &none
                                  &kp N0  &kp MINUS          &none  &none
            >;

            label = "Num";
        };

        Function {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN  &none  &none      &none      &none     &none
&kp F11  &kp F4  &kp F5  &kp F6  &kp SCROLLLOCK   &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK  &none  &none      &none      &none     &none
                         &none   &none            &none  &none
            >;

            label = "Fun";
        };
    };
};
